/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 16, 2022, 4:03:59 PM
    Author     : root
*/

/*
.root {
    -fx-font-size: 14px;
    -fx-font-family: sans-serif;
    -fx-background-color: #ffffff;
}

.header-section {
    -fx-padding: 10px;
    -fx-font-size: 20px;
    -fx-background-color: teal;
}

.header-section Label {
    -fx-text-fill: #ffffff;
    -fx-padding: 10px;
}


.button {  
     -fx-font : 14px "serief";  
     -fx-padding : 10;  
     -fx-background-color : #CCFF99;  
    }   
    
#anchorheader {
      -fx-background-color : #CCFF99;  
    }
*/