.root {
    -fx-font-size: 16px;
    -fx-background-color: #FFF;
    -fx-btn-bg-color: darkblue;
}

.bg-color-darkblue {
    -fx-background-color: darkblue;
}

.bg-color-bright-blue {
    -fx-background-color: #1990EA;
}

.bg-color-white {
    -fx-background-color: #FFF;
}

.bg-color-greenish-blue {
    -fx-background-color: #00C79C;
}


.text-white {
    -fx-text-fill: #FFF;
}

.text-darkblue {
    -fx-text-fill: darkblue;
}

.pref-width-small {
    -fx-pref-width: 130px;
}

.pref-width-medium {
    -fx-pref-width: 325px;
}

.label-border-style {
    -fx-border-color: #DAD3D3;
    -fx-border-style: solid;
    -fx-pref-width: 286px;
    -fx-pref-height: 30px;
    -fx-border-radius: 5px;
}

.button {
    -fx-text-fill: #FFF;
    -fx-background-color: -fx-btn-bg-color;
}

.btn-medium {
    -fx-pref-width: 195px;
    -fx-pref-height: 40px;
    -fx-background-radius: 20px;
}

.btn-large {
    -fx-font-size: 18px;
    -fx-pref-width: 351px;
    -fx-pref-height: 40px;
    -fx-background-radius: 20px;
}

.btn-img {
    -fx-background-color: #FFF;
    -fx-pref-height: 40px;
    -fx-pref-width: 52px;
    -fx-padding: 5px;
}

.btn-progress {
    -fx-text-fill: #000;
    -fx-background-color: #BBB5B5;
    -fx-background-radius: 20px;
}

.btn-progress-completed {
    -fx-text-fill: #FFF;
    -fx-background-color: -fx-btn-bg-color;
}

/*  image container */
.img-container {
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
}

.img-container-small {
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
}

.img-container-medium {
    -fx-pref-width: 70px;
    -fx-pref-height: 70px;
}

.img-container-large {
    -fx-pref-width: 140px;
    -fx-pref-height: 140px;
}

.img-container-xlarge {
    -fx-pref-width: 200px;
    -fx-pref-height: 200px;
}

.border-color-darkblue {
    -fx-border-color: darkblue;
}

/* padding */
.padding {
    -fx-padding: 5px;
}

.padding-small {
    -fx-padding: 10px;
}

.padding-medium {
    -fx-padding: 20px;
}

.padding-large {
    -fx-padding: 30px;
}

/* border-radius */
.border-radius {
    -fx-border-radius: 5px;
}

.border-radius-small {
    -fx-border-radius: 10px;
}

.border-radius-medium {
    -fx-border-radius: 20px;
}

.border-radius-large {
    -fx-border-radius: 30px;
}

/* background-radius */
.bg-border-radius {
    -fx-background-radius: 5px;
}

.bg-border-radius-small {
    -fx-background-radius: 10px;
}

.bg-border-radius-medium {
    -fx-background-radius: 20px;
}

.bg-border-radius-large {
    -fx-background-radius: 30px;
}

.font-size {
    -fx-font-size: 14px;
}

.font-size-small {
    -fx-font-size: 16px;
}

.font-size-medium {
    -fx-font-size: 18px;
}

.font-size-large {
    -fx-font-size: 20px;
}

.press-effect:pressed {
    -fx-background-color: linear-gradient(darkcyan, cyan);
}

.input-field {
    -fx-font-size: 16px;
    -fx-pref-width: 325px;
    -fx-pref-height: 34px;
    -fx-background-radius: 8px;
}

.min-width {
    -fx-min-width: 6px;
}

.min-width-small {
    -fx-min-width: 13px;
}

.min-width-medium {
    -fx-min-width: 26px;
}

.min-width-large {
    -fx-min-width: 130px;
}

.min-width-xlarge {
    -fx-min-width: 195px;
}

.min-width-xx-large {
    -fx-min-width: 650px;
}

.min-height {
    -fx-min-height: 5px;
}

.min-height-small {
    -fx-min-height: 10px;
}

.min-height-medium {
    -fx-min-height: 20px;
}

.min-height-large {
    -fx-min-height: 30px;
}

.min-height-xlarge {
    -fx-min-height: 40px;
}

.confirm-box {
    -fx-background-color: #01DADA;
    -fx-background-radius: 10px;
}

.canvas-container {
    -fx-pref-width: 650px;
    -fx-pref-height: 300px;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-style: solid;
}

/* table style */
.table-view { /* default table */
    -fx-fixed-cell-size: 40px;
}

.table-container-3-cols {
    -fx-pref-width: 780px;
    -fx-pref-height: 400px;
}

.table-container-4-cols {
    -fx-pref-width: 845px;
    -fx-pref-height: 400px;
}

.column-header {
    -fx-background-color: linear-gradient(to bottom, #01DADA, #3BC7C4);
}

.table-column {
    -fx-alignment: center;
}

.table-row-cell:selected {
    -fx-background-color: green;
}

.table-view-column-width {
    -fx-pref-width: 260px;
}

.combo-box {
    -fx-background-radius: 5px;
    -fx-background-color: #CC99FF;
    -fx-pref-width: 260px;
}
